.option {
    font-weight: 300;
    font-size: 12px;
    color:white;
    padding:10px;
 }
 
 .option a {
    color:inherit;
    text-decoration: none;
 }
 
 .option span {
    color:white;
    margin-right:10px;
 }