.DateAuthor{
    text-align: right;

}
.postDate {
    font-weight: 700;
    color:#1b1e21;
    font-size: 15px;
    padding: 0 15px 0 15px;

}
.postAuthor {
    color:#1b1e21;
    font-size: 17px;
    font-weight: 700;
    padding: 0 15px 0 15px;
    }