.teamInfo{
    padding: 10px 0 20px 0;
  }

  .teamInfo p{
      text-align: center;
      
    }
.MyStl {
    background: #F137A6;
}
.teamInfo_logo {
    background-size: cover !important;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    border: 1px solid black;
}
.teamInfo_team {
    display: inline-block;
    font-weight: 700;
    color:white;
    font-size: 36px;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;
}
.teamInfo_games {
    font-size: 20px;
    font-weight: 700;
    padding: 0 15px 0 15px;
    display: inline-block;
    color: black;
    border-bottom: 1px solid;
}

.green {
    background: green;
    padding-left: 20px;
    padding-right: 20px;

}

.red {
    background: red;
    padding-left: 20px;
    padding-right: 20px;
}





