.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

.topbar{
    background-color: #212529;
    padding: 0;
}

.topbar .container .row {
    margin:-7px;
    padding:0;
}

.topbar .container .row .col-md-12 {
    padding:0;
}

.topbar p{
    margin:0;
    display:inline-block;
    font-size: 13px;
    color: #f1f6ff;
}

.topbar p > i{
    margin-right:5px;
}
.topbar p:last-child{
    text-align:right;
}

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
    border:none;
    margin:0;
    padding:0;
}

ul.social-network li {
    border:none;
    margin:0;
}

ul.social-network li i {
    margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
    list-style: none;
    margin: 5px 0 10px -25px;
    float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}
a {
    color: #0a0a0a;
    text-decoration: none;
}

li {
    list-style-type: none;
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #222!important;
}

.mx-background-top-linear {
background: #1D428A;;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 175px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.fill-ful {
    height: 100vh;
    min-height: 300px;
}
@media screen and (max-width: 568px){
    .carousel-caption {
        top: 75px!important;
        bottom: 75px!important;
    }
}
.card-line-slide {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.5;
    padding: 0;
    text-align: center;
}
.heading-section {
    text-align: center;
    padding: 100px 0 80px 0;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

#quote-carousel .carousel-control {
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

#quote-carousel .carousel-control.left {
    left: -60px;
}

#quote-carousel .carousel-control.right {
    right: -60px;
}

#quote-carousel .carousel-indicators {
    right: 17%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}

#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #ffc107;
    opacity: 1;
    overflow: hidden;
}

.carousel-inner {
    min-height: 300px;
}

.carousel-item blockquote {
    border-left: none;
    margin: 0;
}

.carousel-item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
.img-responsive, .thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    border-radius: 25px;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #54d400;
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: all ease-in-out 0.3s;
}

.fa-style-slider {
    margin: 0 auto;
    overflow: visible;
    background-color: transparent;
    border-radius: 50px;
    padding: 15px;
    width: 47px;
    height: auto;
    color: #fff;
    text-align: center;
    font-size: 33px;
}
@media(max-width: 568px){
    .fa-style-slider {
        padding: 10px!important;
    }
}
.margin-blank {
    margin-top: 83px;
}
.btn-default {
    color: #fff;
    background-color: #54d400;
    border-color: #54d400;
    border-radius: 1px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.navbar-brand{
    text-transform: uppercase;
    font-weight: 600;
}
.carousel-item{
    background-image:url('https://placehold.it/1900x1080');
}



.header {
    background: #242424;
    border-bottom: 1px solid #000000;
 }
 
 .headerOpt {
    display: flex;
 }
 
 .logo {
    flex-grow: 1;
    padding-top: 8px;
 }
 
 .logo img {
    width:35px;
 }
 .burger a{
     color: white;
     text-decoration: none;
     font-weight: 200%;
     margin: 10px;
     padding: 10px;
     }
     .burger a:hover{
        color: white;
        text-decoration: none;
        }
.burger span{
    margin: 15px;
}        


.line {
height: 2px;
background: red;
}
 
.myStyle {
    font-size: 30px;
}

.MyStyleBrand {
    font-size: 50px;
}

.fa-basketball-ball:before {
    content: "\f434";
    color: brown;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .MyStyleBrand {
        display: block;
        width: 100%;
        text-align: center;
    }

    .ml-auto {
        margin-left: 5px;
    }
} 
