.newslist_item {
    background: #fff;
    margin-top:5px;
    padding: 10px 0px 5px 10px;
}
.newslist_item:hover{
    margin-top: 10px;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(1.2);
}

@media only screen and (max-width: 1024px) {
    .newslist_item:hover {
        transform: scale(1.09);
    }
} 

.newslist_item h2 {
    line-height: 21px;
    font-size: 17px;
    color:#1b1e21;
    margin-top: 10px;
}

.newslist_item a {
    text-decoration:none;
}
.newsList_wrapper {
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s ease-in;
}

.newsList_wrapper_enter {
    opacity:1;
    transform: translateX(0%)
}



.flex_wrapper {
    display: flex;
    border-bottom: 2px solid #d0f7cb;
    background: #f7f7f7;
}

.left {
    background-size: cover !important;
}

.left div {
    width:90px;
    height:90px;
    background-size:  40px !important;
    background-repeat: no-repeat !important;
    background-position:  center center !important;
}

.right {
    flex-grow: 1;
    padding:10px;
}

.flex_wrapper h2 {
    font-size: 12px;
    color:#525252;
}

.MyStyleList{
   background: #1D428A;
    color: white;
    padding: 10px;
    font-size: 50px;
}

.fa-file-alt:before {
    content: "\f15c";
    margin-right: 20px;
}

