.ikonlar {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #1D428A;
}

.ikonlar .fa {
    color: white;
    font-size: 50px;
    margin: 10px;
}

.text-center {
    text-align: center;
}

.ikonlar p {
    color: white;
    font-size: 25px;
}