.articleImage{
    /* width: 100%;
    height: 700px;
    background-size: cover !important;
    background-repeat: no-repeat; */
}

.ArticlesCenter {
    text-align: center;
    font-size: 25px;
    background: #1D428A;
}
.articleText{
    padding:10px;
    font-size: 18px;
}
