body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #f7f7f7;
}
.featured_item {
  position:relative;
}

.featured_item a {
  position:absolute;
  width:100%;
  bottom:0px;
  text-decoration: none;
  right:0px;
}

.featured_image {
  height:750px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.featured_caption {
  color:#ffffff;
  top:0px;
  width:100%;
  padding:20px;
  font-weight:300;
  font-size:28px;
  box-sizing: border-box;
}

.videoList_wrapper h3 {
  text-align: center;
  margin:20px;
  color: #353535;
  font-weight: 300;
  font-size: 21px;
}
.videoList_wrapper h1{
  text-align:  center;
  background-color: #1b1e21;
  color: #54d400;
  margin: 0px;
  padding: 10px;
  box-shadow: rgb(84, 212, 0) 2px 0px 12px;
}
.videoListItem_wrapper {
  display: flex;
  background: #f7f7f7;
  margin-top: 20px;
  border-bottom: 1px solid red;
}
.videoListItem_wrapper:hover {
  animation: bounce 1s;
}

.videoListItem_wrapper h4 {
  font-size: 17px;
  color:#1b1e21;
  margin-top: 10px;
}
.videoList_wrapper a {
  text-decoration: none; 
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}


.left {
  background-size: cover !important;
}
.left div {
  width:90px;
  height:90px;
  background-size:  40px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background: url('/images/play.png');
}
.right {
  flex-grow: 1;
  padding:10px;
}
.relatedWrapper {
  margin:0 5px;
}

.cardNfo {
  font-size: 12px;
}
.cardNfo i {
  margin-right: 5px;
}
.teamName {
  margin-right: 10px;
  background: blue;
  color: #1b1e21;
  padding: 5px 15px;
  font-weight: 700;
  border-radius: 14px;
  font-size: 20px;
  display: block;
}
.date {
  color:black;
  font-weight: 700;
  float: right;
  margin-right: 20px;
}

.fa-clock-o:before {
  content: "\f017";
  margin-right: 5px;
}

.blue_btn {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
  width: 100%;
  text-align: center;
}
.blue_btn:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}

.fa-file-video:before {
  content: "\f1c8";
  margin-right: 20px;
}